<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src={{dish.image}} alt={{dish.name}} >
        <md-card-content>
          <p>{{dish.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]">
            <span class= "fa fa-chevron-left fa-lg"></span>
          </button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <button md-button [routerLink]="['/dishdetail', next]">
            <span class= "fa fa-chevron-right fa-lg"></span>
          </button>
        </md-card-actions>
      </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h1>Comments</h1>
    <md-list >
        <md-list-item *ngFor="let comment of dish.comments">
            <p md-line>{{comment.comment}}</p>
            <p md-line>{{comment.rating}} Stars</p>
            <p md-line>-- {{comment.author}} {{comment.date | date: "MMM dd, yyyy"}}</p>
        </md-list-item>
        <md-list-item  *ngIf="commentForm.valid">
            <p md-line>
                {{ commentForm.value.comment }}
            </p>
            <p md-line >
                {{ commentForm.value.rating }} Stars
            </p>
            <p md-line>
              -- {{ commentForm.value.author }}  {{commentForm.date | date: "MMM dd, yyyy"}}
            </p>
        </md-list-item>
    </md-list>
    <form novalidate #f="ngForm" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
          <md-input-container class="full-width" dividerColor="{{( formErrors.author) ? 'warn' : 'primary'}}">
              <input mdInput formControlName="author" placeholder="Name" type="text" required>
              <md-hint>
                  <span [hidden]="!(formErrors.author)">
                      {{formErrors.author}}</span>
              </md-hint>
          </md-input-container>
        </p>
        <p>
          <md-slider min="1" max="5" step="1" value=5 formControlName="rating" thumb-label="thumblabel" tickInterval="1"></md-slider>
        </p>
        <p>
          <md-input-container class="full-width" dividerColor="{{( formErrors.comment) ? 'warn' : 'primary'}}">
              <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
              <md-hint>
                  <span [hidden]="!(formErrors.comment)">
                      {{formErrors.comment}}</span>
              </md-hint>
          </md-input-container>
        </p>
        <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
    
  </div>
</div>

    

<div  *ngIf="!dish" [hidden]="dish">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>