<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <md-card *ngIf="dish" fxFlex>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src={{dish.image}} alt={{dish.name}}>
    <md-card-content>
      <p>{{dish.description}}
      </p>
    </md-card-content>
  </md-card>
  <div [hidden]="dish">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <md-card *ngIf="promotion" fxFlex>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src={{promotion.image}} alt={{promotion.name}}>
    <md-card-content>
      <p>{{promotion.description}}
      </p>
    </md-card-content>
  </md-card>
  <div [hidden]="promotion">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <md-card *ngIf="leader" fxFlex>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{leader.name | uppercase}} {{leader.abbr}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src={{leader.image}} alt={{leader.name}}>
    <md-card-content>
      <p>{{leader.designation}}</p>
      <p>{{leader.description}}</p>
    </md-card-content>
  </md-card>
  <div [hidden]="leader">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
</div>
